@import "base";

a:focus, :focus, a:focus img {outline:none;}
::-moz-focus-inner, ::-moz-user-focus {border:0; outline: none;}
a, a img{
  border-bottom: none; 
  outline: none; 
}



#sticky-filemenu{
    width: 100%;
    height: 50px;
    border-top: 1px solid #CCC;
    background: #f5f5f5;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
}
.sticky-inner{
    padding: 10px 10px 15px 10px;
    overflow: hidden;
}

#files-container{
    /*display: inline-block;*/
    padding-top: 35px;
    padding-bottom: 50px;
    overflow: hidden;
    
}

#file-tree{
    position: fixed;
    top: 40px;
    left: 0;
    width: 100px;
    z-index: 500
}

#pagination-options-wrap{
    width: 60px;
    float: right;
    margin-left: 10px;
}

.paginate{
    display: inline;
    height: 15px;
    font-size: .75em;
    color: #666;
    float: right;
}
.paginate a{
    color: #666;
}

.paginate span, .paginate a{
    display: block;
    float: left;
    padding: 1px 4px;
    border: 1px solid #CCC;
    .border-radius(3px);
    margin: 0 3px 0 0;
}
.paginate a:hover{
    background: #CCC;
    color: #FFF;
}

.paginate span.current{
    color: #FFF;
    background: #555;
    border: 1px solid #333;
}
.paginate span.disabled{
    color: #999;
    border: none;
    .border-radius(none);
}
.paginate a.prev, .paginate a.next, .paginate span.adj{
    border: none;
    .border-radius(none);
}
.paginate a.prev, .paginate a.next{
    padding-bottom: 3px;
}

.grid-item{
    width: 120px;
    text-align: center;
    height: 155px;
    margin: 10px;
    background: #FFF;
    float: left;
    position: relative;
    border: 1px solid #e4e4e4;
    padding: 10px 5px 0 5px;
    .border-radius(3px);
}
.grid-item a{
    color: #333;
}
.grid-item a:hover{
    .opacity(.6);
}

.grid-item a.file img, .grid-item a.folder img{
    margin: 20px 0 0 0;
}

.grid-item.list{
    width: 100%;
    height: auto;
    .border-radius(none);
    margin: 0;
    text-align: left;
    padding: 0;
    border: none;
    border-top: 1px solid #e4e4e4;
}

.grid-item.list:last-child{
    border-bottom: 1px solid #e4e4e4;
}

.grid-item.list > a{
    display: block;
    float: left;
    width: 89.5%;
    margin: 0;
}

.grid-item.list a img{
   display: block;
   float: left;
   width: 16px;
   height: 16px;
   margin: 3px 10px 4px 10px;
   vertical-align: middle;
}
.list a br{
   display: none;
}
.grid-item.list .file-actions{
    display: block;
    width: 10%;
    height: auto;
    float: right;
    font-size: .8125em; 
    position: static;
    left:auto;
    bottom: auto;
    color: #444;
    background: #e2e2e2;
    line-height: 20px;
    .opacity(1);
    background: #f5f5f5;
    border-top: none;
    border-left: 1px solid #cacaca;
}
.grid-item.list .file-name{
    display: inline;
    margin: 0;
    line-height: 1;
}

.grid-item.list .edit-file, .grid-item.list .edit-dir{
    display: block;
    float: left;
    width: 12px;
    margin: 0 0 0 10px;
}

.file-name{
    display: block;
    font-size: .7em;
    white-space: nowrap;
    overflow: hidden;
    color: #333;
    clear: both;
}

.file-size{
    font-size: .6em;
    white-space: nowrap;
    overflow: hidden;
    color: #333;
    clear: both;
}

.folder-thumb{
    font-size: 5em;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.file-actions{
    width: 100%;
    height: 19px;
    font-size: .8125em; 
    position: absolute;
    left: 0;
    bottom: 0;
    color: #444;
    background: #e2e2e2;
    line-height: 20px;
    .opacity(0.7);
    border-top: 1px solid #cacaca;
}
.file-actions a{
    display: block;
    width: 13px;
    color: #444;
}
.file-actions a:hover{
    color: #888;
}

.delete-file, .delete-folder{
    display: block;
    float: right;
    width: 12px;
    margin: 0 10px 0 0;
}

.edit-file, .edit-dir{
    display: block;
    float: left;
    width: 12px;
    margin: 0 0 0 10px;
}

#create-folder-wrap{
    width: 89px;
    float: right;
}

#new-folder-button{
    width: 89px;
    margin: 0;
}

#new-folder-name
, #folder-name{
    width: 220px;
    height: 15px;
    padding: 4px;
    border: 1px solid #CCC;
    .border-radius(3px);
    vertical-align: middle;
    margin: 10px;
    font-size: .75em;
}

#edit-image-message{
    color: #00F;
    margin: 0 0 0 30px;
}



/* BREAD CRUMBS */

#bread-wrap{
   width: 100%;
   padding: 5px;
   height: 30px;
   .box-sizing; 
   color: #555;
   font-size: .875em;
   border-bottom: 1px solid #CCC;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 999; 
   background: #f5f5f5;
   .opacity(.85);
}
.bread-wrap-inner{
    padding: 0 10px;
}

#bread-wrap a.bread-path{
    color: #404cf5;
}
#bread-wrap a.bread-path:hover{
    color: #888;
}

.button.small.list-view-button, .button.small.order-by-button{
    float: right;
    font-size: .8em;
    padding: 2px 6px;
    line-height: 12px;
    .box-shadow(none);
    border: 1px solid #999;
    text-align: center;
    color: #444;
    cursor: pointer;
}

.button.small.order-by-button{
    float: left;
}

.button.small.list-view-button i, .button.small.order-by-button i{
    margin-right: 0;
}


/* ----- UPLOAD ----- */

#upload-modal-button{
    display: block;
    font-size: 1.3em;
    margin: 0;
    float: left;
    width: 125px;
    line-height: 1.4;
}
#upload-modal-button:hover{
    color: #888;
}

.modal-header h3{
    display: inline-block;
    .ie7-inline-block;
}
.modal-header .close{
    margin-top: 10px;
}
#uploading-location{
    font-size: .75em;
}

.upload-error{
    margin: 0 0 5px 0;
}

#upload-progress-bg {
	width: 100%;
	height: 13px;
	margin: 3px 0;
	clear: both;
	/*background: #e5e5e5;*/
	overflow: hidden;
	position: relative;
	padding: 3px;
	/*.border-radius(13px);*/
	.box-sizing;
}
#upload-progress {
	height: 7px;
	width: 0;
	min-width: 0;
	background: #bdbdbd;
	.border-radius(12px);
	overflow: hidden;
}

.upload-or{
    clear: both;
    text-align: center;
    width: 100%;
    padding: 0;
    font-family: "OpenSansBold", Helvetica, Arial, sans-serif;
}

#pickfile{
    width: 100%;
    margin: 0 0 5px 0;
}

#filedrop{
    width: 100%;
    height: 40px;
    border: 1px dashed #999;
    background: #FFF;
    text-align: center;
    color: #777;
    line-height: 40px;
    .box-sizing; 
    margin: 10px 0;   
}
#filedrop.hover{
    background: #e4e4e4;
}

#filelist{
    width: 525px;
    max-height: 130px;
    overflow: auto;
    clear: both;
    margin: 0 auto;
}

#filelist-wrap{
    font-size: .75em;
}

#filelist div{
    width: 100%;
    float: left;
    padding: 3px;
    border-bottom: 1px dotted #f1ddf1;
    background: #faf3fa;
    .box-sizing;
}
.upload-delete{
    float: right;
}
#filelist div:last-child{
    border-bottom: none;
}

#custom-sizes{
    font-size: .75em;
    margin: 10px 0 0 0;
    display: none;
}
#custom-sizes input{
    width: 35px;
    height: 16px;
    padding: 4px;
    border: 1px solid #CCC;
    .border-radius(3px);   
}

#allowed-files{
    font-size: .6875em;
}

.modal-footer button.button{
    margin-bottom: 0;
}

#html5-fileupload{
    font-size: .75em;
}


.file-edit-modal{    
    width: 870px;
    margin-left: -435px;
    margin-top: -320px;
}
.file-edit-modal .modal-body {
    max-width: 870px;
    max-height: 450px;
    overflow: hidden;
}

.modal-footer button{
    margin-left: 5px;
}

#file-options{
    width: 850px;
    height: 450px;
    float: left;
}

#file-to-edit{
    width: 615px;
    height: 450px;
    float: left;
    overflow: auto;
}

#folder-name-dialog, #file-edit-dialog{
    display: none;
}

#image-options{
    width: 225px;
    height: 450px;
    float: left;
    margin-right: 5px;
    background: #e4e4e4;
}

.edit-file-option:hover{
    color: #999;
}

.table tr td{
    font-size: .9em;
}


ul.jqueryFileTree {
	font-size: 11px;
	line-height: 18px;
	padding: 0px;
	padding-left: 10px;
	margin: 0px;
}

ul.jqueryFileTree li {
	list-style: none;
	padding: 0px;
	margin: 0px;
	white-space: nowrap;
}

ul.jqueryFileTree a {
	color: #333;
	text-decoration: none;
	display: block;
	padding: 0px 2px;
}

ul.jqueryFileTree a:hover {
	color: #999;
}

/* Core Styles */
.jqueryFileTree li.directory a { /*background: url('images/directory.png') left top no-repeat;*/ }
.jqueryFileTree li.expanded a { /*background: url('images/folder_open.png') left top no-repeat;*/ }
.jqueryFileTree li.file { background: url('images/file.png') left top no-repeat; }
.jqueryFileTree li.wait a { background: url('images/spinner.gif') left top no-repeat; }


.jcrop-holder{direction:ltr;text-align:left;}
.jcrop-vline,.jcrop-hline{background:#FFF url('images/Jcrop.gif') top left repeat;font-size:0;position:absolute;}
.jcrop-vline{height:100%;width:1px!important;}
.jcrop-hline{height:1px!important;width:100%;}
.jcrop-vline.right{right:0;}
.jcrop-hline.bottom{bottom:0;}
.jcrop-handle{background-color:#333;border:1px #eee solid;font-size:1px;}
.jcrop-tracker{-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none;height:100%;width:100%;}
.jcrop-handle.ord-n{left:50%;margin-left:-4px;margin-top:-4px;top:0;}
.jcrop-handle.ord-s{bottom:0;left:50%;margin-bottom:-4px;margin-left:-4px;}
.jcrop-handle.ord-e{margin-right:-4px;margin-top:-4px;right:0;top:50%;}
.jcrop-handle.ord-w{left:0;margin-left:-4px;margin-top:-4px;top:50%;}
.jcrop-handle.ord-nw{left:0;margin-left:-4px;margin-top:-4px;top:0;}
.jcrop-handle.ord-ne{margin-right:-4px;margin-top:-4px;right:0;top:0;}
.jcrop-handle.ord-se{bottom:0;margin-bottom:-4px;margin-right:-4px;right:0;}
.jcrop-handle.ord-sw{bottom:0;left:0;margin-bottom:-4px;margin-left:-4px;}
.jcrop-dragbar.ord-n,.jcrop-dragbar.ord-s{height:7px;width:100%;}
.jcrop-dragbar.ord-e,.jcrop-dragbar.ord-w{height:100%;width:7px;}
.jcrop-dragbar.ord-n{margin-top:-4px;}
.jcrop-dragbar.ord-s{bottom:0;margin-bottom:-4px;}
.jcrop-dragbar.ord-e{margin-right:-4px;right:0;}
.jcrop-dragbar.ord-w{margin-left:-4px;}
.jcrop-light .jcrop-vline,.jcrop-light .jcrop-hline{background:#FFF;filter:Alpha(opacity=70)!important;opacity:.70!important;}
.jcrop-light .jcrop-handle{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#000;border-color:#FFF;border-radius:3px;}
.jcrop-dark .jcrop-vline,.jcrop-dark .jcrop-hline{background:#000;filter:Alpha(opacity=70)!important;opacity:.7!important;}
.jcrop-dark .jcrop-handle{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#FFF;border-color:#000;border-radius:3px;}
.jcrop-holder img,img.jcrop-preview{max-width:none;}
