article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
html,button,input,select,textarea{font-family:sans-serif;}
body{margin:0;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
h1{font-size:2em;margin:0.67em 0;}
h2{font-size:1.5em;margin:0.83em 0;}
h3{font-size:1.17em;margin:1em 0;}
h4{font-size:1em;margin:1.33em 0;}
h5{font-size:0.83em;margin:1.67em 0;}
h6{font-size:0.75em;margin:2.33em 0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;}
p,pre{margin:1em 0;}
code,kbd,pre,samp{font-family:monospace, serif;_font-family:'courier new',monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:'';content:none;}
small{font-size:75%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
dl,menu,ol,ul{margin:1em 0;}
dd{margin:0 0 0 40px;}
menu,ol,ul{padding:0 0 0 40px;}
nav ul,nav ol{list-style:none;list-style-image:none;}
img{border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
form{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
button,input{*overflow:visible;line-height:normal;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;}
input[type="search"]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield;}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}
textarea{overflow:auto;vertical-align:top;}
.clearfix{*zoom:1;}
@font-face{font-family:'OpenSansLight';src:url('../fonts/OpenSans-Light-webfont.eot');src:url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/OpenSans-Light-webfont.woff') format('woff'),url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),url('../fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');font-weight:normal;font-style:normal;}@font-face{font-family:'OpenSansLightItalic';src:url('../fonts/OpenSans-LightItalic-webfont.eot');src:url('../fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/OpenSans-LightItalic-webfont.woff') format('woff'),url('../fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),url('../fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');font-weight:normal;font-style:normal;}@font-face{font-family:'OpenSansRegular';src:url('../fonts/OpenSans-Regular-webfont.eot');src:url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');font-weight:normal;font-style:normal;}@font-face{font-family:'OpenSansItalic';src:url('../fonts/OpenSans-Italic-webfont.eot');src:url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'),url('../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');font-weight:normal;font-style:normal;}@font-face{font-family:'OpenSansSemibold';src:url('../fonts/OpenSans-Semibold-webfont.eot');src:url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),url('../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');font-weight:normal;font-style:normal;}@font-face{font-family:'OpenSansSemiboldItalic';src:url('../fonts/OpenSans-SemiboldItalic-webfont.eot');src:url('../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff'),url('../fonts/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),url('../fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');font-weight:normal;font-style:normal;}@font-face{font-family:'OpenSansBold';src:url('../fonts/OpenSans-Bold-webfont.eot');src:url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');font-weight:normal;font-style:normal;}@font-face{font-family:'OpenSansBoldItalic';src:url('../fonts/OpenSans-BoldItalic-webfont.eot');src:url('../fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),url('../fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),url('../fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');font-weight:normal;font-style:normal;}@font-face{font-family:'OpenSansExtrabold';src:url('../fonts/OpenSans-ExtraBold-webfont.eot');src:url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),url('../fonts/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format('svg');font-weight:normal;font-style:normal;}@font-face{font-family:'OpenSansExtraboldItalic';src:url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot');src:url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),url('../fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),url('../fonts/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format('svg');font-weight:normal;font-style:normal;}@font-face{font-family:'FontAwesome';src:url('../fonts/fontawesome-webfont.eot');src:url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff') format('woff'),url('../fonts/fontawesome-webfont.ttf') format('truetype'),url('../fonts/fontawesome-webfont.svg#FontAwesome') format('svg');font-weight:normal;font-style:normal;}[class^="icon-"]:before,[class*=" icon-"]:before{font-family:FontAwesome;font-weight:normal;font-style:normal;display:inline-block;text-decoration:inherit;}
a [class^="icon-"],a [class*=" icon-"]{display:inline-block;text-decoration:inherit;}
.icon-large:before{vertical-align:middle;font-size:1.3333333333333333em;}
.button [class^="icon-"],.nav-tabs [class^="icon-"],.button [class*=" icon-"],.nav-tabs [class*=" icon-"]{line-height:.9em;}
li [class^="icon-"],li [class*=" icon-"]{display:inline-block;width:1.25em;text-align:center;}
li .icon-large:before,li .icon-large:before{width:1.875em;}
ul.icons{list-style-type:none;margin-left:2em;text-indent:-0.8em;}ul.icons li [class^="icon-"],ul.icons li [class*=" icon-"]{width:.8em;}
ul.icons li .icon-large:before,ul.icons li .icon-large:before{vertical-align:initial;}
.icon-glass:before{content:"\f000";}
.icon-music:before{content:"\f001";}
.icon-search:before{content:"\f002";}
.icon-envelope:before{content:"\f003";}
.icon-heart:before{content:"\f004";}
.icon-star:before{content:"\f005";}
.icon-star-empty:before{content:"\f006";}
.icon-user:before{content:"\f007";}
.icon-film:before{content:"\f008";}
.icon-th-large:before{content:"\f009";}
.icon-th:before{content:"\f00a";}
.icon-th-list:before{content:"\f00b";}
.icon-ok:before{content:"\f00c";}
.icon-remove:before{content:"\f00d";}
.icon-zoom-in:before{content:"\f00e";}
.icon-zoom-out:before{content:"\f010";}
.icon-off:before{content:"\f011";}
.icon-signal:before{content:"\f012";}
.icon-cog:before{content:"\f013";}
.icon-trash:before{content:"\f014";}
.icon-home:before{content:"\f015";}
.icon-file:before{content:"\f016";}
.icon-time:before{content:"\f017";}
.icon-road:before{content:"\f018";}
.icon-download-alt:before{content:"\f019";}
.icon-download:before{content:"\f01a";}
.icon-upload:before{content:"\f01b";}
.icon-inbox:before{content:"\f01c";}
.icon-play-circle:before{content:"\f01d";}
.icon-repeat:before{content:"\f01e";}
.icon-refresh:before{content:"\f021";}
.icon-list-alt:before{content:"\f022";}
.icon-lock:before{content:"\f023";}
.icon-flag:before{content:"\f024";}
.icon-headphones:before{content:"\f025";}
.icon-volume-off:before{content:"\f026";}
.icon-volume-down:before{content:"\f027";}
.icon-volume-up:before{content:"\f028";}
.icon-qrcode:before{content:"\f029";}
.icon-barcode:before{content:"\f02a";}
.icon-tag:before{content:"\f02b";}
.icon-tags:before{content:"\f02c";}
.icon-book:before{content:"\f02d";}
.icon-bookmark:before{content:"\f02e";}
.icon-print:before{content:"\f02f";}
.icon-camera:before{content:"\f030";}
.icon-font:before{content:"\f031";}
.icon-bold:before{content:"\f032";}
.icon-italic:before{content:"\f033";}
.icon-text-height:before{content:"\f034";}
.icon-text-width:before{content:"\f035";}
.icon-align-left:before{content:"\f036";}
.icon-align-center:before{content:"\f037";}
.icon-align-right:before{content:"\f038";}
.icon-align-justify:before{content:"\f039";}
.icon-list:before{content:"\f03a";}
.icon-indent-left:before{content:"\f03b";}
.icon-indent-right:before{content:"\f03c";}
.icon-facetime-video:before{content:"\f03d";}
.icon-picture:before{content:"\f03e";}
.icon-pencil:before{content:"\f040";}
.icon-map-marker:before{content:"\f041";}
.icon-adjust:before{content:"\f042";}
.icon-tint:before{content:"\f043";}
.icon-edit:before{content:"\f044";}
.icon-share:before{content:"\f045";}
.icon-check:before{content:"\f046";}
.icon-move:before{content:"\f047";}
.icon-step-backward:before{content:"\f048";}
.icon-fast-backward:before{content:"\f049";}
.icon-backward:before{content:"\f04a";}
.icon-play:before{content:"\f04b";}
.icon-pause:before{content:"\f04c";}
.icon-stop:before{content:"\f04d";}
.icon-forward:before{content:"\f04e";}
.icon-fast-forward:before{content:"\f050";}
.icon-step-forward:before{content:"\f051";}
.icon-eject:before{content:"\f052";}
.icon-chevron-left:before{content:"\f053";}
.icon-chevron-right:before{content:"\f054";}
.icon-plus-sign:before{content:"\f055";}
.icon-minus-sign:before{content:"\f056";}
.icon-remove-sign:before{content:"\f057";}
.icon-ok-sign:before{content:"\f058";}
.icon-question-sign:before{content:"\f059";}
.icon-info-sign:before{content:"\f05a";}
.icon-screenshot:before{content:"\f05b";}
.icon-remove-circle:before{content:"\f05c";}
.icon-ok-circle:before{content:"\f05d";}
.icon-ban-circle:before{content:"\f05e";}
.icon-arrow-left:before{content:"\f060";}
.icon-arrow-right:before{content:"\f061";}
.icon-arrow-up:before{content:"\f062";}
.icon-arrow-down:before{content:"\f063";}
.icon-share-alt:before{content:"\f064";}
.icon-resize-full:before{content:"\f065";}
.icon-resize-small:before{content:"\f066";}
.icon-plus:before{content:"\f067";}
.icon-minus:before{content:"\f068";}
.icon-asterisk:before{content:"\f069";}
.icon-exclamation-sign:before{content:"\f06a";}
.icon-gift:before{content:"\f06b";}
.icon-leaf:before{content:"\f06c";}
.icon-fire:before{content:"\f06d";}
.icon-eye-open:before{content:"\f06e";}
.icon-eye-close:before{content:"\f070";}
.icon-warning-sign:before{content:"\f071";}
.icon-plane:before{content:"\f072";}
.icon-calendar:before{content:"\f073";}
.icon-random:before{content:"\f074";}
.icon-comment:before{content:"\f075";}
.icon-magnet:before{content:"\f076";}
.icon-chevron-up:before{content:"\f077";}
.icon-chevron-down:before{content:"\f078";}
.icon-retweet:before{content:"\f079";}
.icon-shopping-cart:before{content:"\f07a";}
.icon-folder-close:before{content:"\f07b";}
.icon-folder-open:before{content:"\f07c";}
.icon-resize-vertical:before{content:"\f07d";}
.icon-resize-horizontal:before{content:"\f07e";}
.icon-bar-chart:before{content:"\f080";}
.icon-twitter-sign:before{content:"\f081";}
.icon-facebook-sign:before{content:"\f082";}
.icon-camera-retro:before{content:"\f083";}
.icon-key:before{content:"\f084";}
.icon-cogs:before{content:"\f085";}
.icon-comments:before{content:"\f086";}
.icon-thumbs-up:before{content:"\f087";}
.icon-thumbs-down:before{content:"\f088";}
.icon-star-half:before{content:"\f089";}
.icon-heart-empty:before{content:"\f08a";}
.icon-signout:before{content:"\f08b";}
.icon-linkedin-sign:before{content:"\f08c";}
.icon-pushpin:before{content:"\f08d";}
.icon-external-link:before{content:"\f08e";}
.icon-signin:before{content:"\f090";}
.icon-trophy:before{content:"\f091";}
.icon-github-sign:before{content:"\f092";}
.icon-upload-alt:before{content:"\f093";}
.icon-lemon:before{content:"\f094";}
.icon-phone:before{content:"\f095";}
.icon-check-empty:before{content:"\f096";}
.icon-bookmark-empty:before{content:"\f097";}
.icon-phone-sign:before{content:"\f098";}
.icon-twitter:before{content:"\f099";}
.icon-facebook:before{content:"\f09a";}
.icon-github:before{content:"\f09b";}
.icon-unlock:before{content:"\f09c";}
.icon-credit-card:before{content:"\f09d";}
.icon-rss:before{content:"\f09e";}
.icon-hdd:before{content:"\f0a0";}
.icon-bullhorn:before{content:"\f0a1";}
.icon-bell:before{content:"\f0a2";}
.icon-certificate:before{content:"\f0a3";}
.icon-hand-right:before{content:"\f0a4";}
.icon-hand-left:before{content:"\f0a5";}
.icon-hand-up:before{content:"\f0a6";}
.icon-hand-down:before{content:"\f0a7";}
.icon-circle-arrow-left:before{content:"\f0a8";}
.icon-circle-arrow-right:before{content:"\f0a9";}
.icon-circle-arrow-up:before{content:"\f0aa";}
.icon-circle-arrow-down:before{content:"\f0ab";}
.icon-globe:before{content:"\f0ac";}
.icon-wrench:before{content:"\f0ad";}
.icon-tasks:before{content:"\f0ae";}
.icon-filter:before{content:"\f0b0";}
.icon-briefcase:before{content:"\f0b1";}
.icon-fullscreen:before{content:"\f0b2";}
.icon-group:before{content:"\f0c0";}
.icon-link:before{content:"\f0c1";}
.icon-cloud:before{content:"\f0c2";}
.icon-beaker:before{content:"\f0c3";}
.icon-cut:before{content:"\f0c4";}
.icon-copy:before{content:"\f0c5";}
.icon-paper-clip:before{content:"\f0c6";}
.icon-save:before{content:"\f0c7";}
.icon-sign-blank:before{content:"\f0c8";}
.icon-reorder:before{content:"\f0c9";}
.icon-list-ul:before{content:"\f0ca";}
.icon-list-ol:before{content:"\f0cb";}
.icon-strikethrough:before{content:"\f0cc";}
.icon-underline:before{content:"\f0cd";}
.icon-table:before{content:"\f0ce";}
.icon-magic:before{content:"\f0d0";}
.icon-truck:before{content:"\f0d1";}
.icon-pinterest:before{content:"\f0d2";}
.icon-pinterest-sign:before{content:"\f0d3";}
.icon-google-plus-sign:before{content:"\f0d4";}
.icon-google-plus:before{content:"\f0d5";}
.icon-money:before{content:"\f0d6";}
.icon-caret-down:before{content:"\f0d7";}
.icon-caret-up:before{content:"\f0d8";}
.icon-caret-left:before{content:"\f0d9";}
.icon-caret-right:before{content:"\f0da";}
.icon-columns:before{content:"\f0db";}
.icon-sort:before{content:"\f0dc";}
.icon-sort-down:before{content:"\f0dd";}
.icon-sort-up:before{content:"\f0de";}
.icon-envelope-alt:before{content:"\f0e0";}
.icon-linkedin:before{content:"\f0e1";}
.icon-undo:before{content:"\f0e2";}
.icon-legal:before{content:"\f0e3";}
.icon-dashboard:before{content:"\f0e4";}
.icon-comment-alt:before{content:"\f0e5";}
.icon-comments-alt:before{content:"\f0e6";}
.icon-bolt:before{content:"\f0e7";}
.icon-sitemap:before{content:"\f0e8";}
.icon-umbrella:before{content:"\f0e9";}
.icon-paste:before{content:"\f0ea";}
.icon-user-md:before{content:"\f200";}
body{background:#FFF;font-family:"OpenSansRegular",Helvetica,Arial,sans-serif;color:#444444;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;}
h1,h2,h3,h4,h5,h6{color:#181818;font-family:"OpenSansBold",Helvetica,Arial,sans-serif;font-weight:normal;}
p{margin:0 0 20px 0;line-height:1.4375;}
em{font-style:italic;}
strong{font-weight:bold;color:#333;}
small{font-size:80%;}
.note{color:#666666;font-size:.8em;line-height:1.3;}
code,.highlight-yellow,.highlight-blue{padding:1px 4px;color:#dd1144;}
code{background-color:#f7f7f9;border:1px solid #e1e1e8;}
blockquote.blockquote{font:1.1em/22px normal "enriquetaregular",serif;color:#777777;width:35%;margin:10px 0 10px 35px;padding:20px 10px 0 15px;border-left:3px solid #ccc;background:#f6f6f6;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url('/walker2013/css/boxsizing.htc');}
blockquote.blockquote.right{float:right;margin:10px 0 10px 35px;padding:20px 10px 0 15px;}
blockquote.blockquote.left{float:left;margin:10px 35px 10px 0;padding:20px 15px 0 10px;}
.bold{font-family:"OpenSansBold",Helvetica,Arial,sans-serif;}
a{color:#33335f;outline:0;text-decoration:none;}
p a{color:#33335f;outline:0;border-bottom:1px dotted #33335f;text-decoration:none;}
p a:hover,a:focus{color:#000000;border-bottom:1px dotted #000000;}
a.border-none{border:none;}
p a,p a:visited{line-height:inherit;}
a img{border:none;}
img.max-width{max-width:100%;height:auto;}
img.align-right{float:right;margin:5px 0 20px 20px;}
img.align-left{float:left;margin:5px 20px 20px 0;}
img.align-center{display:block;margin:0 auto;}
a img.align-right{float:right;margin:5px 0 20px 20px;}
a img.align-left{float:left;margin:5px 20px 20px 0;}
a img.align-center{display:block;margin:0 auto;}
.container:after{content:"\0020";display:block;height:0;clear:both;visibility:hidden;}
.clearfix:before,.clearfix:after,.row:before,.row:after{content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.row:after,.clearfix:after{clear:both;}
.row,.clearfix{zoom:1;}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.clear-both{width:100%;clear:both;overflow:hidden;}
.hide{display:none;}
.hide-text{font:a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.ie7-inline-block{zoom:1;*display:inline;}
.container{width:940px;margin:0 auto;padding:0 10px;}
.row-container{width:960px;margin:0 auto;padding:0;}
.col-25p{width:25%;float:left;}
.col-50p{width:50%;float:left;}
.col-75p{width:75%;float:left;}
.col-100p{width:100%;float:left;}
.row{width:100%;clear:both;margin-bottom:25px;}
.row .column,.row .columns{float:left;display:inline;margin-left:10px;margin-right:10px;}
.alpha{margin-left:0;}
.omega{margin-right:0;}
.row .one,.row .one{width:40px;}
.row .two{width:100px;}
.row .three{width:160px;}
.row .four{width:220px;}
.row .five{width:280px;}
.row .six{width:340px;}
.row .seven{width:400px;}
.row .eight{width:460px;}
.row .nine{width:520px;}
.row .ten{width:580px;}
.row .eleven{width:640px;}
.row .twelve{width:700px;}
.row .thirteen{width:760px;}
.row .fourteen{width:820px;}
.row .fifteen{width:880px;}
.row .sixteen{width:940px;}
.row-fluid{width:100%;clear:both;margin-bottom:25px;}
.no-margin{margin:0;}
.row-fluid:before,.row-fluid:after{display:table;line-height:0;content:"";}
.row-fluid:after{clear:both;}
.row-fluid [class*="span"]{display:block;float:left;width:100%;min-height:30px;margin-left:2.564102564102564%;*margin-left:2.5109110747408616%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.row-fluid [class*="span"]:first-child{margin-left:0;}
.row-fluid .span12{width:100%;*width:99.94680851063829%;}
.row-fluid .span11{width:91.45299145299145%;*width:91.39979996362975%;}
.row-fluid .span10{width:82.90598290598291%;*width:82.8527914166212%;}
.row-fluid .span9{width:74.35897435897436%;*width:74.30578286961266%;}
.row-fluid .span8,.col8{width:65.81196581196582%;*width:65.75877432260411%;}
.row-fluid .span7{width:57.26495726495726%;*width:57.21176577559556%;}
.row-fluid .span6{width:48.717948717948715%;*width:48.664757228587014%;}
.row-fluid .span5{width:40.17094017094017%;*width:40.11774868157847%;}
.row-fluid .span4,.col4{width:31.623931623931625%;*width:31.570740134569924%;}
.row-fluid .span3{width:23.076923076923077%;*width:23.023731587561375%;}
.row-fluid .span2{width:14.52991452991453%;*width:14.476723040552828%;}
.row-fluid .span1{width:5.982905982905983%;*width:5.929714493544281%;}
.container-inner{padding:0 10px;}
.inner-10{padding:0 10px;}
.inner-20{padding:0 20px;}
.inner-10-flex{padding:0 1.04166667%;}
.form,.form fieldset{display:block;}
.form fieldset{border:none;padding:0;margin:0;}
.form .fields-h,.form .fields-v{display:block;width:100%;float:left;margin:0 0 20px 0;*zoom:1;zoom:1;}
.form .fields-h .label,.label-col{display:block;width:25%;text-align:right;float:left;padding:2px 5% 0 0;line-height:25px;}
.form .fields-v .label{display:block;clear:both;margin:0 0 5px 0;}
.form .fields-h .inputs{width:70%;float:left;}
.form .fields-v .inputs{clear:both;}
.form input[type=text],.form input[type=password]{border:1px solid #cccccc;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;line-height:20px;height:23px;padding:4px 0 4px 4px;}
.form input[type=text]:focus,.form input[type=password]:focus,.search-form input[type="text"]:focus{outline:none;border:1px solid #6b6bc8;}
.input-tiny{width:30px;}
.input-zip{width:40px;}
.input-small{width:80px;}
.input-med{width:170px;}
.input-long{width:280px;}
:-moz-placeholder{color:#999999;font-style:italic;}
:-ms-input-placeholder{color:#999999;font-style:italic;}
::-webkit-input-placeholder{color:#999999;font-style:italic;}
.button{display:inline-block;padding:7px 18px 7px 18px;line-height:21px;border:1px solid #666666;color:#444444;font-size:.875em;background-color:#c7c7c7;background:-moz-linear-gradient(top, #f2f2f2 0%, #c1c1c1 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #c1c1c1));background:-webkit-linear-gradient(top, #f2f2f2 0%, #c1c1c1 100%);background:-o-linear-gradient(top, #f2f2f2 0%, #c1c1c1 100%);background:-ms-linear-gradient(top, #f2f2f2 0%, #c1c1c1 100%);background:linear-gradient(to bottom, #f2f2f2 0%, #c1c1c1 100%);-pie-background:linear-gradient(#f2f2f2, #c1c1c1);-moz-box-shadow:0px 1px 3px rgba(50, 50, 50, 0.4),inset 0 1px 0 #ffffff;-webkit-box-shadow:0px 1px 3px rgba(50, 50, 50, 0.4),inset 0 1px 0 #ffffff;box-shadow:0px 1px 3px rgba(50, 50, 50, 0.4),inset 0 1px 0 #ffffff;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;text-shadow:0 1px 0 rgba(255, 255, 255, 0.75);}
.button:hover{color:#777777;background-color:#cccccc;background:-moz-linear-gradient(top, #f7f7f7 0%, #cccccc 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #cccccc));background:-webkit-linear-gradient(top, #f7f7f7 0%, #cccccc 100%);background:-o-linear-gradient(top, #f7f7f7 0%, #cccccc 100%);background:-ms-linear-gradient(top, #f7f7f7 0%, #cccccc 100%);background:linear-gradient(to bottom, #f7f7f7 0%, #cccccc 100%);-pie-background:linear-gradient(#f7f7f7, #cccccc);-moz-box-shadow:0px 1px 3px rgba(50, 50, 50, 0.4);-webkit-box-shadow:0px 1px 3px rgba(50, 50, 50, 0.4);box-shadow:0px 1px 3px rgba(50, 50, 50, 0.4);}
.button:active{color:#555555;background:#b3b3b3;}
.button.primary,.button.success,.button.error{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.4);-moz-box-shadow:0px 1px 3px rgba(50, 50, 50, 0.4),inset 0 1px 0 rgba(255, 255, 255, 0.4);-webkit-box-shadow:0px 1px 3px rgba(50, 50, 50, 0.4),inset 0 1px 0 rgba(255, 255, 255, 0.4);box-shadow:0px 1px 3px rgba(50, 50, 50, 0.4),inset 0 1px 0 rgba(255, 255, 255, 0.4);}
.button:active,.button.primary:active,.button.success:active,.button.error:active{-moz-box-shadow:inset 0 0 10px #303030;-webkit-box-shadow:inset 0 0 10px #303030;box-shadow:inset 0 0 10px #303030;}
.button.primary{border:1px solid #000ecb;background:#5757ff;background-image:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc5NjVmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2FjYTJmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);background-image:-moz-linear-gradient(bottom, #4d4dff 0%, #8080ff 100%);background-image:-o-linear-gradient(bottom, #4d4dff 0%, #8080ff 100%);background-image:-webkit-linear-gradient(bottom, #4d4dff 0%, #8080ff 100%);background-image:linear-gradient(bottom, #4d4dff 0%, #8080ff 100%);-pie-background:linear-gradient(#8080ff, #4d4dff);}
.button.primary:hover{color:#efe4ff;background-color:#a79cfc;background-image:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkzN2JmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2M4YmRmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);background-image:-moz-linear-gradient(bottom, #6666ff 0%, #9999ff 100%);background-image:-o-linear-gradient(bottom, #6666ff 0%, #9999ff 100%);background-image:-webkit-linear-gradient(bottom, #6666ff 0%, #9999ff 100%);background-image:linear-gradient(bottom, #6666ff 0%, #9999ff 100%);-pie-background:linear-gradient(#9999ff, #6666ff);}
.button.primary:active{color:#b3b3ff;background:#6456eb;}
.button.success{border:1px solid #006645;background-color:#159771;background-image:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA5OTA2YiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQ5YmM5NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);background-image:-moz-linear-gradient(bottom, #09906b 0%, #49bc94 100%);background-image:-o-linear-gradient(bottom, #09906b 0%, #49bc94 100%);background-image:-webkit-linear-gradient(bottom, #09906b 0%, #49bc94 100%);background-image:linear-gradient(bottom, #09906b 0%, #49bc94 100%);-pie-background:linear-gradient(#49bc94, #09906b);}
.button.success:hover{color:#9affdf;background-color:#45b991;background-image:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJlYTU3ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzYxZDJhOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);background-image:-moz-linear-gradient(bottom, #2ea57f 0%, #61d2a9 100%);background-image:-o-linear-gradient(bottom, #2ea57f 0%, #61d2a9 100%);background-image:-webkit-linear-gradient(bottom, #2ea57f 0%, #61d2a9 100%);background-image:linear-gradient(bottom, #2ea57f 0%, #61d2a9 100%);-pie-background:linear-gradient(#61d2a9, #2ea57f);}
.button.success:active{color:#5fcfa7;background:#0c926d;}
.button.error{border:1px solid #950000;background:#dd0000;background-image:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmNDIyMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);background-image:-moz-linear-gradient(bottom, #dd0000 0%, #ff4223 100%);background-image:-o-linear-gradient(bottom, #dd0000 0%, #ff4223 100%);background-image:-webkit-linear-gradient(bottom, #dd0000 0%, #ff4223 100%);background-image:linear-gradient(bottom, #dd0000 0%, #ff4223 100%);-pie-background:linear-gradient(#ff4223, #dd0000);}
.button.error:hover{color:#ffd3a1;background:#fc5130;background-image:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5MzIxOCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmNzQ0YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);background-image:-moz-linear-gradient(bottom, #f93218 0%, #ff744a 100%);background-image:-o-linear-gradient(bottom, #f93218 0%, #ff744a 100%);background-image:-webkit-linear-gradient(bottom, #f93218 0%, #ff744a 100%);background-image:linear-gradient(bottom, #f93218 0%, #ff744a 100%);-pie-background:linear-gradient(#ff744a, #f93218);}
.button.error:active{color:#df5730;background:#c00000;}
.button.disabled,.button.disabled:hover,.button.disabled:active{color:#777777 !important;background:#cccccc !important;background-image:none !important;filter:none;border:1px solid #999999;cursor:default;opacity:.6;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;text-shadow:none;}
.button.small{padding:4px 10px 4px 10px;font-size:.7em;line-height:14px;letter-spacing:.085em;}
button.button i,.button i{margin:0 2px 0 0;font-size:1.33333333em;vertical-align:middle;line-height:10px !important;}
.table{border-collapse:separate;margin:0 0 25px 0;font-size:.75em;width:100%;text-align:left;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.table.bordered{border:1px solid #cccccc;}
.table.cell-borders td{border-right:1px solid #cccccc;}
.table.cell-borders td:last-child{border-right:none;}
.table thead tr th,.table tfoot tr th{background-color:#d7e3e3;color:#111111;padding:10px;}
.table thead tr .header{background-image:url(images/bg-2.gif);background-repeat:no-repeat;background-position:center right;cursor:pointer;}
.table tbody td{color:#3d3d3d;padding:10px;background-color:#ffffff;vertical-align:top;}
.table thead tr .headerSortUp{background-image:url(images/asc.gif);}
.table thead tr .headerSortDown{background-image:url(images/desc.gif);}
.table thead tr .headerSortDown,.table thead tr .headerSortUp{background-color:#8dbdd8;}
.table tfoot td{padding:10px;font-weight:700;background-color:#ffffff;}
.table tr td{border-top:1px solid #cccccc;}
.table.condensed tbody td,.table.condensed thead th,.table tfoot td{padding:4px;}
.table tbody tr.odd td,.table tbody tr.r1 td{background-color:#ffffff;}
.table tbody tr.even td,.table tbody tr.r0 td{background-color:#f3f3f8;}
td.align-left{text-align:left;}
td.align-right{text-align:right;}
td.align-center{text-align:center;}
.tabs{width:100%;overflow:hidden;margin:0 0 25px 0;}
.tabs ul{display:block;float:left;overflow:hidden;margin:0;padding:0;position:relative;}
.tabs ul li{display:block;float:left;margin:0 5px 0 0;white-space:nowrap;position:relative;overflow:hidden;}
.tabs ul li a{display:block;float:left;border:1px solid #cccccc;-moz-border-radius-topleft:2px;-webkit-border-top-left-radius:2px;border-top-left-radius:2px;-moz-border-radius-topright:2px;-webkit-border-top-right-radius:2px;border-top-right-radius:2px;font-size:.75em;color:#333333;padding:5px 10px;position:relative;top:0px;z-index:3;background:#e2e2e2;}
.tabs ul li a:hover{background:#f5f5f5;}
.tabs ul li.ui-state-active a{background:#ffffff;border-bottom:1px solid #FFF;color:#888888;}
.tabs .tab-content{padding:20px 20px 0 20px;background:#fff;margin:35px 0 0 0;border:1px solid #cccccc;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;z-index:1;position:relative;top:-2px;}
.tabs .ui-tabs-hide{display:none;}
.ui-tabs.ui-widget-content{border:none;position:relative;}
.ui-tabs-nav.ui-widget-header li,.ui-tabs-nav.ui-widget-header .ui-state-active{border:none;position:relative;}
.notify{width:100%;clear:both;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;margin:0 0 25px 0;overflow:hidden;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url('/walker2013/css/boxsizing.htc');}
.notify .notify-inner{padding:15px 15px 0 15px;position:relative;}
.notify-inner p{font-size:.8em;line-height:1.4;margin:0 0 15px 0;}
.notify.message{background:#f5f4fe;border:1px solid #dedcfd;color:#2312c3;}
.notify.message a{color:#2312c3;}
.notify.error{background:#fee8e7;border:1px solid #f7746f;color:#c41008;}
.notify.error a{color:#c41008;}
.notify.warning{background:#fefeea;border:1px solid #f9f984;color:#555555;}
.notify.warning a{color:#555555;}
.notify-icon{font-size:1.5em;margin:0 10px 5px 0;opacity:.5;line-height:1;float:left;}
.notify .remove-notify a.icon-remove{font-size:.75em;border:none;text-decoration:none;position:absolute;top:3px;right:7px;}
.remove-notify a:hover{color:#777777;}
.core-notify{width:98%;margin:10px 1%;}
.highlight-yellow,.highlight-blue{-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.highlight-yellow{background-color:#fdfee8;border:1px solid #f1f2dd;}
.highlight-blue{background-color:#f5f5fc;border:1px solid #e0e0ec;}
.pagination{height:2.25em;margin:0 0 25px 0;font-size:.875em;clear:both;}
.pagination ul{display:inline-block;padding:0;margin:0;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);}
.pagination li{display:inline;background:#FFF;}
.pagination a{float:left;padding:0 .625em;line-height:1.75em;text-decoration:none;border:1px solid #cccccc;border-left-width:0;}
.pagination a:hover,.pagination .active a{background-color:#f5f5f5;}
.pagination .active a{color:#999999;cursor:default;}
.pagination .disabled span,.pagination .disabled a,.pagination .disabled a:hover{color:#999999;cursor:default;background-color:transparent;}
.pagination li:first-child a{border-left-width:1px;-webkit-border-radius:2px 0 0 2px;-moz-border-radius:2px 0 0 2px;border-radius:2px 0 0 2px;}
.pagination li:last-child a{-webkit-border-radius:0 2px 2px 0;-moz-border-radius:0 2px 2px 0;border-radius:0 2px 2px 0;}
.pagination-centered{text-align:center;}
.pagination-right{text-align:right;}
.pager{padding:0;margin-bottom:1.125em;margin-left:0;text-align:center;list-style:none;font-size:.875em;*zoom:1;}
.pager:before,.pager:after{display:table;content:"";}
.pager:after{clear:both;}
.pager li{display:inline;}
.pager a{display:inline-block;padding:5px 14px;background-color:#fff;border:1px solid #cccccc;text-decoration:none;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.pager a:hover{text-decoration:none;background-color:#f5f5f5;}
.pager .next a{float:right;}
.pager .previous a{float:left;}
.pager .disabled a,.pager .disabled a:hover{color:#999999;cursor:default;background-color:#fff;}
.breadcrumb{padding:.4375em .875em;margin:0 0 1.125em;list-style:none;font-size:.875em;}
.breadcrumb li{display:inline-block;zoom:1;*display:inline;}
.breadcrumb li a{border-bottom:none;color:#222222;}
.breadcrumb li a:hover{color:#555555;}
.breadcrumb li.active{color:#888888;}
.breadcrumb .divider{padding:0 5px;color:#999999;}
.ui-widget-overlay{background:#888;opacity:.5;}
div.ui-dialog-buttonpane{background:#f5f5f5;border-top:1px solid #ddd;}
.ui-dialog-titlebar span.ui-dialog-title{color:#181818;font-size:1.17em;font-family:"OpenSansBold",Helvetica,Arial,sans-serif;font-weight:normal;}
a.ui-dialog-titlebar-close{border:none;}
div.ui-dialog .ui-dialog-content{padding:15px 10px;}
div.ui-dialog{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box;}
.ui-dialog div.ui-dialog-titlebar{padding:15px 10px;border-bottom:1px solid #eee;}
.modal-open .dropdown-menu{z-index:2050;}
.modal-open .dropdown.open{*z-index:2050;}
.modal-open .popover{z-index:2060;}
.modal-open .tooltip{z-index:2070;}
.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000000;}
.modal-backdrop.fade{opacity:0;}
.modal-backdrop,.modal-backdrop.fade.in{opacity:0.8;filter:alpha(opacity=80);}
.modal{position:fixed;top:50%;left:50%;z-index:1050;overflow:auto;width:560px;margin:-250px 0 0 -280px;border:1px solid #999;border:1px solid rgba(0, 0, 0, 0.3);*border:1px solid #999;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box;}
.modal.fade{-webkit-transition:opacity 0.3s linear,top 0.3s ease-out;-moz-transition:opacity 0.3s linear,top 0.3s ease-out;-ms-transition:opacity 0.3s linear,top 0.3s ease-out;-o-transition:opacity 0.3s linear,top 0.3s ease-out;transition:opacity 0.3s linear,top 0.3s ease-out;top:-25%;}
.modal.fade.in{top:50%;}
.modal-header{padding:0 15px;border-bottom:1px solid #eee;background-color:#ffffff;-webkit-border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;}
.modal-header .close{margin-top:2px;}
.modal-body{overflow-y:auto;max-height:400px;padding:15px;background-color:#ffffff;}
.modal-form{margin-bottom:0;}
.modal-footer{padding:14px 15px 15px;margin-bottom:0;text-align:right;background-color:#f5f5f5;border-top:1px solid #ddd;-webkit-border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;-webkit-box-shadow:inset 0 1px 0 #ffffff;-moz-box-shadow:inset 0 1px 0 #ffffff;box-shadow:inset 0 1px 0 #ffffff;*zoom:1;}
.modal-footer:before,.modal-footer:after{display:table;content:"";}
.modal-footer:after{clear:both;}
.modal-footer .btn+.btn{margin-left:5px;margin-bottom:0;}
.modal-footer .btn-group .btn+.btn{margin-left:-1px;}
.dropup,.dropdown{position:relative;}
.dropdown-toggle{*margin-bottom:-3px;}
.dropdown-toggle:active,.open .dropdown-toggle{outline:0;}
.caret{display:inline-block;width:0;height:0;vertical-align:top;border-top:4px solid #000000;border-right:4px solid transparent;border-left:4px solid transparent;content:"";opacity:0.3;filter:alpha(opacity=30);}
.dropdown .caret{margin-top:8px;margin-left:2px;}
.dropdown:hover .caret,.open .caret{opacity:1;filter:alpha(opacity=100);}
.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:160px;padding:4px 0;margin:1px 0 0;list-style:none;background-color:#ffffff;border:1px solid #ccc;border:1px solid rgba(0, 0, 0, 0.2);*border-right-width:2px;*border-bottom-width:2px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;}
.dropdown-menu.pull-right{right:0;left:auto;}
.dropdown-menu .divider{*width:100%;height:1px;margin:8px 1px;*margin:-5px 0 5px;overflow:hidden;background-color:#e5e5e5;border-bottom:1px solid #ffffff;}
.dropdown-menu a{display:block;padding:3px 15px;clear:both;font-weight:normal;line-height:18px;color:#333333;white-space:nowrap;border:none;}
.dropdown-menu li>a:hover,.dropdown-menu .active>a,.dropdown-menu .active>a:hover{color:#ffffff;text-decoration:none;background-color:#0088cc;}
.open{*z-index:1000;}
.open>.dropdown-menu{display:block;}
.pull-right>.dropdown-menu{right:0;left:auto;}
.dropup .caret,.navbar-fixed-bottom .dropdown .caret{border-top:0;border-bottom:4px solid #000000;content:"\2191";}
.dropup .dropdown-menu,.navbar-fixed-bottom .dropdown .dropdown-menu{top:auto;bottom:100%;margin-bottom:1px;}
.tooltip{position:absolute;z-index:1020;display:block;visibility:visible;padding:5px;font-size:11px;opacity:0;filter:alpha(opacity=0);}
.tooltip.in{opacity:0.8;filter:alpha(opacity=80);}
.tooltip.top{margin-top:-2px;}
.tooltip.right{margin-left:2px;}
.tooltip.bottom{margin-top:2px;}
.tooltip.left{margin-left:-2px;}
.tooltip.top .tooltip-arrow{bottom:0;left:50%;margin-left:-5px;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #000000;}
.tooltip.left .tooltip-arrow{top:50%;right:0;margin-top:-5px;border-top:5px solid transparent;border-bottom:5px solid transparent;border-left:5px solid #000000;}
.tooltip.bottom .tooltip-arrow{top:0;left:50%;margin-left:-5px;border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:5px solid #000000;}
.tooltip.right .tooltip-arrow{top:50%;left:0;margin-top:-5px;border-top:5px solid transparent;border-bottom:5px solid transparent;border-right:5px solid #000000;}
.tooltip-inner{max-width:200px;padding:3px 8px;color:#ffffff;text-align:center;text-decoration:none;background-color:#000000;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.tooltip-arrow{position:absolute;width:0;height:0;}
.popover{position:absolute;top:0;left:0;z-index:1010;display:none;padding:5px;}
.popover.top{margin-top:-5px;}
.popover.right{margin-left:5px;}
.popover.bottom{margin-top:5px;}
.popover.left{margin-left:-5px;}
.popover.top .arrow{bottom:0;left:50%;margin-left:-5px;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #000000;}
.popover.right .arrow{top:50%;left:0;margin-top:-5px;border-top:5px solid transparent;border-bottom:5px solid transparent;border-right:5px solid #000000;}
.popover.bottom .arrow{top:0;left:50%;margin-left:-5px;border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:5px solid #000000;}
.popover.left .arrow{top:50%;right:0;margin-top:-5px;border-top:5px solid transparent;border-bottom:5px solid transparent;border-left:5px solid #000000;}
.popover .arrow{position:absolute;width:0;height:0;}
.popover-inner{padding:3px;width:280px;overflow:hidden;background:#000000;background:rgba(0, 0, 0, 0.8);-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);}
.popover-title{padding:9px 15px;line-height:1;background-color:#f5f5f5;border-bottom:1px solid #eee;-webkit-border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;}
.popover-content{padding:14px;background-color:#ffffff;-webkit-border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box;}
.popover-content p,.popover-content ul,.popover-content ol{margin-bottom:0;}
.close{float:right;font-size:20px;font-weight:bold;line-height:18px;color:#000000;text-shadow:0 1px 0 #ffffff;opacity:0.2;filter:alpha(opacity=20);}
.close:hover{color:#000000;text-decoration:none;cursor:pointer;opacity:0.4;filter:alpha(opacity=40);}
button.close{padding:0;cursor:pointer;background:transparent;border:0;-webkit-appearance:none;}
.pull-right{float:right;}
.pull-left{float:left;}
.hide{display:none;}
.show{display:block;}
.invisible{visibility:hidden;}
.fade{opacity:0;-webkit-transition:opacity 0.15s linear;-moz-transition:opacity 0.15s linear;-ms-transition:opacity 0.15s linear;-o-transition:opacity 0.15s linear;transition:opacity 0.15s linear;}
.fade.in{opacity:1;}
.collapse{position:relative;height:0;overflow:hidden;-webkit-transition:height 0.35s ease;-moz-transition:height 0.35s ease;-ms-transition:height 0.35s ease;-o-transition:height 0.35s ease;transition:height 0.35s ease;}
.collapse.in{height:auto;}
@media only screen and (max-width:959px){}@media only screen and (min-width:768px) and (max-width:959px){}@media only screen and (max-width:767px){}@media only screen and (min-width:480px) and (max-width:767px){}@media only screen and (max-width:479px){}a:focus,:focus,a:focus img{outline:none;}
::-moz-focus-inner,::-moz-user-focus{border:0;outline:none;}
a,a img{border-bottom:none;outline:none;}
#sticky-filemenu{width:100%;height:50px;border-top:1px solid #CCC;background:#f5f5f5;position:fixed;left:0;bottom:0;z-index:999;}
.sticky-inner{padding:10px 10px 15px 10px;}
#files-container{padding-top:35px;padding-bottom:50px;overflow:hidden;}
.grid-item{width:120px;text-align:center;height:155px;margin:10px;background:#FFF;float:left;position:relative;border:1px solid #e4e4e4;padding:10px 5px 0 5px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.grid-item a{color:#333;}
.grid-item a:hover{-webkit-opacity:0.6;-moz-opacity:0.6;opacity:0.6;}
.grid-item a.file img,.grid-item a.folder img{margin:20px 0 0 0;}
.grid-item.list{width:100%;height:auto;-webkit-border-radius:none;-moz-border-radius:none;border-radius:none;margin:0;text-align:left;padding:0;border:none;border-top:1px solid #e4e4e4;}
.grid-item.list:last-child{border-bottom:1px solid #e4e4e4;}
.grid-item.list>a{display:block;float:left;width:89.5%;margin:0;}
.grid-item.list a img{display:block;float:left;width:16px;height:16px;margin:3px 10px 4px 10px;vertical-align:middle;}
.list a br{display:none;}
.grid-item.list .file-actions{display:block;width:10%;height:auto;float:right;font-size:.8125em;position:static;left:auto;bottom:auto;color:#444;background:#e2e2e2;line-height:20px;-webkit-opacity:1;-moz-opacity:1;opacity:1;background:#f5f5f5;border-top:none;border-left:1px solid #cacaca;}
.grid-item.list .file-name{display:inline;margin:0;line-height:1;}
.grid-item.list .edit-file,.grid-item.list .edit-dir{display:block;float:left;width:12px;margin:0 0 0 10px;}
.file-name{display:block;font-size:.7em;white-space:nowrap;overflow:hidden;color:#333;}
.folder-thumb{font-size:5em;line-height:1;margin:0;padding:0;}
.file-actions{width:100%;height:19px;font-size:.8125em;position:absolute;left:0;bottom:0;color:#444;background:#e2e2e2;line-height:20px;-webkit-opacity:0.7;-moz-opacity:0.7;opacity:0.7;border-top:1px solid #cacaca;}
.file-actions a{display:block;width:13px;color:#444;}
.file-actions a:hover{color:#888;}
.delete-file,.delete-folder{display:block;float:right;width:12px;margin:0 10px 0 0;}
.edit-file,.edit-dir{display:block;float:left;width:12px;margin:0 0 0 10px;}
#create-folder-wrap{width:89px;float:right;}
#new-folder-button{width:89px;margin:0;}
#new-folder-name,#folder-name{width:220px;height:15px;padding:4px;border:1px solid #CCC;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;vertical-align:middle;margin:10px;font-size:.75em;}
#edit-image-message{color:#00F;margin:0 0 0 30px;}
#bread-wrap{width:100%;padding:5px;height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url('/walker2013/css/boxsizing.htc');color:#555;font-size:.875em;border-bottom:1px solid #CCC;position:fixed;top:0;left:0;z-index:999;background:#f5f5f5;-webkit-opacity:0.85;-moz-opacity:0.85;opacity:0.85;}
.bread-wrap-inner{padding:0 10px;}
#bread-wrap a{color:#404cf5;}
#bread-wrap a:hover{color:#888;}
.button.small.list-view-button{float:right;font-size:.8em;padding:2px 6px;line-height:12px;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;border:1px solid #CCC;text-align:center;color:#444;cursor:pointer;}
#upload-modal-button{display:block;font-size:1.3em;margin:0;float:left;width:125px;line-height:1.4;}
#upload-modal-button:hover{color:#888;}
.modal-header h3{display:inline-block;zoom:1;*display:inline;}
.modal-header .close{margin-top:10px;}
#uploading-location{font-size:.75em;}
#filelist-wrap{font-size:.75em;}
.upload-error{margin:0 0 5px 0;}
#upload-progress-bg{width:100%;height:13px;margin:3px 0;clear:both;overflow:hidden;position:relative;padding:3px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url('/walker2013/css/boxsizing.htc');}
#upload-progress{height:7px;width:0;min-width:0;background:#bdbdbd;-webkit-border-radius:12px;-moz-border-radius:12px;border-radius:12px;overflow:hidden;}
.upload-or{clear:both;text-align:center;width:100%;padding:0;font-family:"OpenSansBold",Helvetica,Arial,sans-serif;}
#pickfile{width:100%;margin:0 0 5px 0;}
#filedrop{width:100%;height:40px;border:1px dashed #999;background:#FFF;text-align:center;color:#777;line-height:40px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url('/walker2013/css/boxsizing.htc');margin:10px 0;}
#filedrop.hover{background:#e4e4e4;}
#filelist{margin:5px 0;overflow:hidden;}
#filelist div{width:100%;float:left;padding:3px;border-bottom:1px dotted #f1ddf1;background:#faf3fa;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url('/walker2013/css/boxsizing.htc');}
.upload-delete{float:right;}
#filelist div:last-child{border-bottom:none;}
#custom-sizes{font-size:.75em;margin:10px 0 0 0;display:none;}
#custom-sizes input{width:35px;height:16px;padding:4px;border:1px solid #CCC;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
#allowed-files{font-size:.6875em;}
.modal-footer button.button{margin-bottom:0;}
#html5-fileupload{font-size:.75em;}
.file-edit-modal{width:870px;margin-left:-435px;margin-top:-320px;}
.file-edit-modal .modal-body{max-width:870px;max-height:450px;overflow:hidden;}
#file-options{width:850px;height:450px;float:left;}
#file-to-edit{width:615px;height:450px;float:left;overflow:auto;}
#folder-name-dialog,#file-edit-dialog{display:none;}
#image-options{width:225px;height:450px;float:left;margin-right:5px;background:#e4e4e4;}
.edit-file-option:hover{color:#999;}
.table tr td{font-size:.9em;}
.jcrop-holder{direction:ltr;text-align:left;}
.jcrop-vline,.jcrop-hline{background:#ffffff url('images/Jcrop.gif') top left repeat;font-size:0;position:absolute;}
.jcrop-vline{height:100%;width:1px!important;}
.jcrop-hline{height:1px!important;width:100%;}
.jcrop-vline.right{right:0;}
.jcrop-hline.bottom{bottom:0;}
.jcrop-handle{background-color:#333;border:1px #eee solid;font-size:1px;}
.jcrop-tracker{-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none;height:100%;width:100%;}
.jcrop-handle.ord-n{left:50%;margin-left:-4px;margin-top:-4px;top:0;}
.jcrop-handle.ord-s{bottom:0;left:50%;margin-bottom:-4px;margin-left:-4px;}
.jcrop-handle.ord-e{margin-right:-4px;margin-top:-4px;right:0;top:50%;}
.jcrop-handle.ord-w{left:0;margin-left:-4px;margin-top:-4px;top:50%;}
.jcrop-handle.ord-nw{left:0;margin-left:-4px;margin-top:-4px;top:0;}
.jcrop-handle.ord-ne{margin-right:-4px;margin-top:-4px;right:0;top:0;}
.jcrop-handle.ord-se{bottom:0;margin-bottom:-4px;margin-right:-4px;right:0;}
.jcrop-handle.ord-sw{bottom:0;left:0;margin-bottom:-4px;margin-left:-4px;}
.jcrop-dragbar.ord-n,.jcrop-dragbar.ord-s{height:7px;width:100%;}
.jcrop-dragbar.ord-e,.jcrop-dragbar.ord-w{height:100%;width:7px;}
.jcrop-dragbar.ord-n{margin-top:-4px;}
.jcrop-dragbar.ord-s{bottom:0;margin-bottom:-4px;}
.jcrop-dragbar.ord-e{margin-right:-4px;right:0;}
.jcrop-dragbar.ord-w{margin-left:-4px;}
.jcrop-light .jcrop-vline,.jcrop-light .jcrop-hline{background:#FFF;filter:alpha(opacity=70) !important;opacity:.70!important;}
.jcrop-light .jcrop-handle{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#000;border-color:#FFF;border-radius:3px;}
.jcrop-dark .jcrop-vline,.jcrop-dark .jcrop-hline{background:#000;filter:alpha(opacity=70) !important;opacity:.7!important;}
.jcrop-dark .jcrop-handle{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#FFF;border-color:#000;border-radius:3px;}
.jcrop-holder img,img.jcrop-preview{max-width:none;}
